<head>
    {% block stylesheets %}
         {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('jobs') }}
    {% endblock %}

    {% block javascripts %}
    {#  {{ encore_entry_script_tags('app') }}#}
        {{ encore_entry_script_tags('jobs_js') }}
    {% endblock %}
</head>

<body>

{% block body %}
    <div class="welcome-msg">
        <img src="../../public/build/note.png" alt="">
        <h1>Hi <span id="name">Ann</span>!</h1>
        <p>Here will be daily tips, advice or quotes.</p>
    </div>
    <div class="jobs-container">
        <h1>My jobs</h1>
        <div class="buttons">
            <button v-on:click="done" class ='btn-switch'>Done</button>
            <button v-on:click="toDo" class ='btn-switch'>To do</button>
        </div>
        <div class="jobs">
            <div class="to-do" v-if='toDoClicked' >
                <div class="job">
                    <p>valentines day</p>
                    <p>25.02.2021</p>
                    <p><a href="#">view more >></a></p>
                </div>
            </div>
           <div class="done" v-if='doneClicked'>
               <div class="job">
                   <p>Coctail Party</p>
                   <p>25.04.2023</p>
                   <p><a href="#">view more >></a></p>
               </div>
           </div>

        </div>

    </div>
{% endblock %}
</body>