<body>

{% block body %}
    <div class="offerts">
        <h2>Offerts</h2>
        <p>
            You can easily propose your rules on which you perform.
            <br>
            Play with <span id="your-tone">your tone</span>!
        </p>
    </div>

{% endblock %}
</body>