body{
    margin:0;
}

.title{
    background-image: url("../../public/build/people.jpg");
    height: 60vh;
    background-size: 80vw 70vh;
    background-position: center bottom;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
}
.title h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    font-size: 6rem;
    text-align: center;
    width:100vw;
    height:40vh;
    background-color: rgba(217, 212, 212, 0.7);

}
/*.title:hover,
.title:focus{
    transform: scale(1.2);
    transition: all .5s;
}*/
.offerts h2 {
    margin: 0.5rem;
    color: white;
    text-align: center;
    font-size: 4rem;
}
.offerts p{
    text-align: center;
    font-size: 1.5rem;
}
.offerts p #your-tone{
    color:white;
    font-size: 2.2rem;

}