body{
    display: flex;
    flex-direction: column;
}
.form-container{
    margin-top: 2rem;
    display: flex;
    align-self: center;
    margin-bottom: 2rem;
}
.offert-details{
    text-align: center;
    font-family: 'Life Savers', cursive;
}
.offert-details h1{
    font-size: 3rem;
    margin: 2rem;
}
.offert-details .date{
    border: solid 1px black;
    padding: 0.5rem;

}
.offert-details ul{
    list-style-type: none;
    padding-left: 0;
}
body .offert-details  p{
    padding: 0rem 25rem 0rem 25rem;
    font-size: 1.3rem;
}
.offert-details .must-haves{
    padding: 0.5rem;
}
.offert-details .must-haves h2, h1{
    color: white;
    font-weight: 800;
}
.offert-details .must-haves ul>li{
    padding: 0.5rem;

}

.artist-form h1{
    margin-top: 2rem;
    font-size: 3rem;
    color:#D58B7F;
}
.artist-form p{
    color:#D58B7F;
    font-size: 1.7rem;
}
body .artist-form ul{
    list-style-type: none;
    color: white;
    padding: 0.5rem;
}
ul li:before {
    content: '✓';
    padding-right: 0.5rem;
}
body .artist-form ul li{
    margin: 0.5rem;

}

#offert_form_skills_help, #offert_form_requirements_help{
    color:black;
    font-size: 0.8rem;
    padding: 0 12vw 0 12vw;

}
::placeholder {
    color: rgba(1,2,3,0.5);

}
.artist-form{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 50vw;
    background: rgb(14,1,7);
    background: linear-gradient(176deg, rgba(14,1,7,1) 0%, rgba(213,139,127,1) 100%);
    box-shadow: -20px 20px 20px -40px #D58B7F;
    margin-top: 10vh;
}

#offert_form_name, #offert_form_skills, #offert_form_requirements{
    width:30vw;

    align-self: center;
    height: 6vh;
    border-radius: 1rem;
    border:none;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    font-family: Arial;
    padding: 1rem;
    background-color: #D58B7F;
}
#offert_form_name{
    margin-bottom: 1rem;
}
#offert_form_presentation{
    background-color: #D58B7F;
    padding: 1rem;
    margin-bottom: 1rem;
    align-self: center;
    border-radius: 1rem;
    border:none;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    font-family: Arial;
    padding-left: 1rem;
    height: 20vh;
    width:30vw;
}

#offert_form_submit {
    height: 5vh;
    width: 10vw;
    color: white;
    border:none;
    border-radius: 1.2rem;
    background-color: black;
    font-family: 'Life Savers', cursive;
    font-size: 1.3rem;
}

#offert_form_a, #offert_form_content:focus{
    text-decoration: none;

}
#offert_form_isAttending{
    margin-bottom: 1rem;
    border-radius: 0.3rem;
}

#offert_form label{
    display: none;
}

body .form-container > form .allSkills{
    display: flex;
}
body .form-container .show-skills, body .form-container .show-requirements{
    width: 20vw;
    margin-left: 2rem;
    align-self: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
}
body .form-container .show-skills h1 , body .form-container .show-requirements h1{
    color:#D58B7F;
    font-size: 1.5rem;

}
body .show-skills  button{
    margin:0;
}
.form-container .form-data{
    border-right: 1px solid black;
    padding: 2rem;
}
body .form-container  .skill{
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin:0.5rem;
}
body .form-container .skill button{
    background-color: #D58B7F;
    border:none;
    color:white;
    cursor: pointer;

}
body .artist-form > form > button{
    width: 10vw;
    background-color: #040404;
    align-self: center;
    margin-bottom: 1rem;
}
body .artist-form > button:hover {
    background-color: #2f2c2c;
}
.applicants{
    margin-left: 2rem;
}
.applicants h1{
    font-family: 'Life Savers', cursive;

}
.applicants ul{
    list-style-type: none;
}