body{
    margin:0;
    text-align: center;
}

.register-container{
    display: flex;
    margin-top: 2rem;
    margin: 10rem;
    /*height:80vh;*/
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 2rem;
    justify-content: center;
    align-items: center;

}
.register-container .form-data{
    justify-content: center;
    align-self: center;

}
.register-container .form-data label{
    display: none;

}
.register-container .show-skills{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    align-items: center;
}

.register-container form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-container form input{
    width:20vw;
    margin-bottom: 1rem;
    align-self: center;
    height: 6vh;
    margin-bottom:1rem;
    border-radius: 1rem;
    border:none;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    font-family: Arial;
    padding-left: 1rem;
    background-color: #D58B7F;
    color:white;

}
.register-container form label,select{
    width:20vw;
    margin-bottom: 1rem;
    padding-right: 0.5rem;
    font-family: Arial;

}
.register-container select{
    align-self: center;
    height: 6vh;
    border-radius: 1rem;
    border:none;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    padding-left: 1rem;
    background-color: #D58B7F;
    width: 7vw;
    color:black;
}

.register-container .create-btn{
    height: 5vh;
    width: 10vw;
    color: white;
    border:none;
    border-radius: 1.2rem;
    background-color: black;
    font-family: 'Life Savers', cursive;
    font-size: 1.3rem;
}
body .register-container > form .allSkills{
    display: flex;

}
.register-container .form-data{
    border-right: 1px solid black;
    padding: 2rem;
}
body .register-container  .skill{
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin:0.5rem
}
body .register-container .skill button{
    background-color: #D58B7F;
    border:none;
    color:white;
    cursor: pointer;
}