<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

    {% endblock %}
</head>

{% block body %}
    <div class="logo">
        <a href="/">
            <h1><span id="my">my</span>Tone</h1>
            <b-navbar-brand to="#">

            </b-navbar-brand>
        </a>

    </div>

    <div id="app">

        <b-navbar toggleable="lg" type="light">
            <b-button to="/login">Log out</b-button>
            <b-navbar-brand to="#">
                ANN
            </b-navbar-brand>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-text to="#">My profile</b-nav-text>
                    <div class="my-profile">
                        <b-nav-item to="/myjobs">My jobs</b-nav-item>
                        <b-nav-item to="#">Edit</b-nav-item>
                    </div>
                    <b-nav-text to="#">Find</b-nav-text>
                    <div class="find">
                        <b-nav-item to="#">Artists</b-nav-item>
                        <b-nav-item to="/">Offerts</b-nav-item>
                    </div>
                    <b-nav-text to="#">Want more?</b-nav-text>
                    <div class="want-more">
                        <b-nav-text to="#">Try</b-nav-text>
                        <b-button>PRO</b-button>
                    </div>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
    </div>

{% endblock %}


</html>
