<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('login') }}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Brawler&family=Indie+Flower&family=Life+Savers&family=Short+Stack&display=swap" rel="stylesheet">

    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

        {{ encore_entry_script_tags('login_js') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="all-login-container">
    {% embed "app.html.twig" %}{% endembed %}
    <div class="login-container">

        <div class = "info">
            <div class="test"></div>
            <div class="text">
                <h1>Hello.</h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining essentially unchanged

                </p>
            </div>

        </div>
        <div class="login-data">
            <form>
                <input type="email" placeholder="E-mail">
                <input type="password" placeholder="Password">
                <input type="submit" class="submit" value="Sign in">
            </form>
            <h3>Or</h3>
            <a href="/register">
                <p><span id="create">Create </span><span id="account">account</span></p>
            </a>


        </div>

    </div>
    </div>
{% endblock %}

</body>
</html>
