<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('menu') }}
    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}

    {% endblock %}
</head>
<body>

{% block body %}
    <nav>
        <button id="lgout">Log out</button>
        <h1 class="name">ANN</h1>
        <div class="my-profile">
            <h1>My profile</h1>
            <ul>
                <li><a href="">My jobs</a></li>
                <li><a href="">Edit</a></li>
            </ul>
        </div>
        <div class="find">
            <h1>Find</h1>
            <ul>
                <li><a href="">Artist</a></li>
                <li><a href="">Jobs</a></li>
            </ul>
        </div>
        <div class="want-more">
            <h1>Want more?</h1>
            <h3>Try</h3>
            <button>PRO</button>
        </div>

    </nav>
{% endblock %}
</body>
</html>
